@page
@model Khabari.Areas.Administration.Pages.News.OneNews.EditModel
@{
}
<form method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">

            <div class="d-flex justify-content-center info-profile mt-2">
                <label class="filebutton">

                    <span><input type="file" asp-for="editOneNews.Picture" accept="image/*"></span>
                </label>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <small class="text-center">تصویر خبر را آپلود کنید</small>

            </div>


            <div class="form-group">
                <label class="" asp-for="editOneNews.NewsCategoryId"> گروه اخبار</label>
                <select class="form-control" asp-for="editOneNews.NewsCategoryId" asp-items="Model.newsCategory">
                    <option value="0">انتخاب گروه اخبار </option>
                </select>
                <span asp-validation-for="editOneNews.NewsCategoryId" class="error"></span>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">عنوان</label>
                    <input type="text" class="form-control" asp-for="editOneNews.Subject" onchange="makeSlug('Name', 'Slug')">
                    <input type="text" class="form-control"  asp-for="editOneNews.Id">
                    <input type="text" class="form-control"  asp-for="editOneNews.PictureTemp">
                    <span asp-validation-for="editOneNews.Subject" class="error"></span>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="Description" class="control-label">متن خبر</label>
                    <textarea class="form-control autogrow" asp-for="editOneNews.Body"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="editOneNews.Body" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="Description" class="control-label">تاریخ انتشار</label>
                    <textarea class="form-control autogrow" asp-for="editOneNews.PublishDate"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="editOneNews.PublishDate" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="Description" class="control-label">تگ</label>
                    <textarea class="form-control autogrow" asp-for="editOneNews.Tag"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="editOneNews.Tag" class="error"></span>
                </div>
            </div>
        </div>





    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
    </div>
</form>
